@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
:root {
  --primaryColor: #ffffff;
  --secondaryColorPink: #FF006E;
  --secondaryColorOrange: #FB5607;
  --secondaryColorPurple: #8338EC;
  --tertierColorYellow: #FFBE0B;
  --tertierColorBlue: #3A86FF;
  --textColorLight: #232323;
  --textColorDark: #ffffff;
  --primaryFont: "Bebas Neue", cursive;
  --bigHeaderOne: 7rem;
  --headerOne: 5rem;
  --headerTwo: 3rem;
  --headerThree: 1.5rem;
  --paragraf: 1rem;
  --paragrafTwo: 1.2rem;
  --boldFont: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--primaryColor);
  overflow-x: hidden;
  width: 100vw;
}

header {
  position: fixed;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  top: 5px;
  z-index: 10;
}
header img {
  width: 25%;
}
header .nav-btn__container {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-left: auto;
  margin-right: 1em;
}
header .nav-btn__container .cta-btn__group {
  text-decoration: none;
  color: var(--textColorLight);
  font-size: var(--headerThree);
  font-family: var(--primaryFont);
  width: 5em;
  height: 1.8em;
  border: solid 2px var(--textColorLight);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-radius: 5em;
}
header .nav-btn__container .cta-btn__group .btn-inner {
  transform: translateY(0);
  transition: transform 0.4s;
  width: 100%;
  height: 100%;
  padding: 0.2em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .nav-btn__container .cta-btn__group .btn-dark {
  background: var(--secondaryColorPink);
  color: var(--textColorDark);
}
header .nav-btn__container .cta-btn__group:hover .btn-inner {
  transform: translateY(-100%);
}
header .nav-btn__container .hamburger {
  width: 2.9em;
  height: 2.9em;
  border: solid 2px var(--textColorLight);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}
header .nav-btn__container .hamburger span {
  width: 20px;
  height: 5px;
  background: var(--textColorLight);
}
header .nav-btn__container .hamburger:hover, header .nav-btn__container .hamburger.active {
  background: var(--secondaryColorPurple);
  transition: all 0.6s;
}
header .nav-btn__container .hamburger:hover span:nth-child(1), header .nav-btn__container .hamburger.active span:nth-child(1) {
  -webkit-animation: open1 0.6s linear forwards;
          animation: open1 0.6s linear forwards;
}
header .nav-btn__container .hamburger:hover span:nth-child(2), header .nav-btn__container .hamburger.active span:nth-child(2) {
  -webkit-animation: open2 0.6s linear forwards;
          animation: open2 0.6s linear forwards;
}
header .nav-btn__container .hamburger:hover span:nth-child(3), header .nav-btn__container .hamburger.active span:nth-child(3) {
  -webkit-animation: open3 0.6s linear forwards;
          animation: open3 0.6s linear forwards;
}
header .nav-btn__container .hamburger span:nth-child(1) {
  animation: close1 0.6s linear reverse backwards;
}
@-webkit-keyframes open1 {
  50% {
    transform: translateY(100%);
  }
  75% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(240%) rotateZ(45deg);
  }
}
@keyframes open1 {
  50% {
    transform: translateY(100%);
  }
  75% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(240%) rotateZ(45deg);
  }
}
@-webkit-keyframes close1 {
  50% {
    transform: translateY(100%);
  }
  75% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(240%) rotateZ(45deg);
  }
}
@keyframes close1 {
  50% {
    transform: translateY(100%);
  }
  75% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(240%) rotateZ(45deg);
  }
}
header .nav-btn__container .hamburger span:nth-child(2) {
  animation: close2 0.6s linear reverse backwards;
}
@-webkit-keyframes open2 {
  50% {
    transform: scaleX(0.5);
  }
  100% {
    transform: scaleX(0);
    display: none;
  }
}
@keyframes open2 {
  50% {
    transform: scaleX(0.5);
  }
  100% {
    transform: scaleX(0);
    display: none;
  }
}
@-webkit-keyframes close2 {
  50% {
    transform: scaleX(0.5);
  }
  100% {
    transform: scaleX(0);
    display: none;
  }
}
@keyframes close2 {
  50% {
    transform: scaleX(0.5);
  }
  100% {
    transform: scaleX(0);
    display: none;
  }
}
header .nav-btn__container .hamburger span:nth-child(3) {
  animation: close3 0.6s linear reverse backwards;
}
@-webkit-keyframes open3 {
  50% {
    transform: translateY(-100%);
  }
  75% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(-250%) rotateZ(-45deg);
  }
}
@keyframes open3 {
  50% {
    transform: translateY(-100%);
  }
  75% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(-250%) rotateZ(-45deg);
  }
}
@-webkit-keyframes close3 {
  50% {
    transform: translateY(-100%);
  }
  75% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(-250%) rotateZ(-45deg);
  }
}
@keyframes close3 {
  50% {
    transform: translateY(-100%);
  }
  75% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(-250%) rotateZ(-45deg);
  }
}

.nav__container {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100vh;
  transform: translateY(-100%);
  transition: all 0.3s;
}
.nav__container.active {
  transform: translateY(0);
}
.nav__container.active .overlay {
  transform: scaleY(1);
}
.nav__container.active .nav-link__container {
  transform: scaleY(1);
}
.nav__container.active .nav-link__container .nav-link {
  transform: translateY(0);
  opacity: 1;
}
.nav__container .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: top;
  transform: scaleY(0);
  transition: all 0.1s;
}
.nav__container .overlay:nth-child(1) {
  background: var(--secondaryColorPink);
  z-index: 1;
  transition-delay: 0.3s;
}
.nav__container .overlay:nth-child(2) {
  background: var(--secondaryColorPurple);
  z-index: 2;
  transition-delay: 0.9s;
}
.nav__container .overlay:nth-child(3) {
  background: var(--tertierColorYellow);
  z-index: 3;
  transition-delay: 1.2s;
}
.nav__container .nav-link__container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5em;
  list-style: none;
  row-gap: 1em;
  background: var(--secondaryColorOrange);
  z-index: 8;
  transform-origin: top;
  transform: scaleY(0);
  transition: all 0.3s;
  transition-delay: 1.8s;
}
.nav__container .nav-link__container .nav-link {
  transform: translateY(15px);
  opacity: 0;
  transition: all 0.6s;
  width: 50%;
  z-index: 10;
}
.nav__container .nav-link__container .nav-link:nth-child(1) {
  transition-delay: 2.1s;
}
.nav__container .nav-link__container .nav-link:nth-child(2) {
  transition-delay: 2.2s;
}
.nav__container .nav-link__container .nav-link:nth-child(3) {
  transition-delay: 2.6s;
}
.nav__container .nav-link__container .nav-link:nth-child(4) {
  transition-delay: 3s;
}
.nav__container .nav-link__container .nav-link .link {
  font-family: var(--primaryFont);
  font-size: var(--headerOne);
  text-decoration: none;
  color: var(--textColorDark);
}
.nav__container .nav-link__container .nav-link .link::after {
  content: "";
  display: block;
  width: initial;
  height: 5px;
  background: var(--primaryColor);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.4s;
}
.nav__container .nav-link__container .nav-link .link:hover::after {
  transform: scaleX(1);
}

.container-xs {
  width: 100%;
  height: 15vh;
}

.container-s {
  width: 100%;
  height: 25vh;
}

.container-m {
  width: 100%;
  height: 100vh;
}

.container-l {
  width: 100%;
  height: 150vh;
}

.container-xl {
  width: 100%;
  height: 200vh;
}

.container-xxl {
  width: 100%;
  height: 300vh;
}

.content-container {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 50vh;
}

#hero-section .section-container {
  width: 100%;
  height: 100%;
  position: relative;
}
#hero-section .content-container {
  position: absolute;
}
#hero-section .hero-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-top: 8em;
  padding-left: 3em;
  z-index: 2;
  transition: transform 0.5s;
}
#hero-section .hero-content h1 {
  font-family: var(--primaryFont);
  font-size: var(--bigHeaderOne);
  width: 75%;
}
#hero-section .hero-content h1::after {
  content: "";
  display: block;
  width: inherit;
  height: 5px;
  background: var(--tertierColorBlue);
}
#hero-section .hero-content h2 {
  font-family: var(--primaryFont);
  font-size: var(--headerTwo);
  width: 50%;
}
#hero-section .hero-video-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 5em;
  gap: 2em;
  transition: transform 0.5s;
}
#hero-section .hero-video-content h3 {
  font-family: var(--primaryFont);
  font-size: var(--headerThree);
  color: var(--secondaryColorOrange);
}
#hero-section .hero-video-content .video__container {
  width: 50%;
}
#hero-section .hero-video-content .video__container video {
  width: 100%;
  border-radius: 1em;
  box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.8);
}

#about-us {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
}
#about-us h2 {
  width: 75%;
  font-family: var(--primaryFont);
  font-size: var(--headerOne);
  color: var(--textColorLight);
  text-align: center;
  line-height: 1em;
  transform: translateY(-100px);
  opacity: 0;
  transition: all 1s;
}
#about-us h2.in-view {
  transform: translateY(0);
  opacity: 1;
}
#about-us .content-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100%;
  place-items: center;
}
#about-us .content-container::before {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  background: var(--secondaryColorPink);
  border-radius: 50%;
}
#about-us .content-container::after {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  background: var(--tertierColorBlue);
  border-radius: 50%;
}
#about-us .content-container::before, #about-us .content-container::after {
  transform: translate(0);
  opacity: 0;
  transition: all 1s;
}
#about-us .content-container.in-view::before {
  transform: translate(-100%, -100%);
  opacity: 1;
}
#about-us .content-container.in-view::after {
  transform: translate(-500%, 100%);
  opacity: 1;
}
#about-us .content-container p {
  text-indent: 1em;
  width: 90%;
  padding: 1em 0.5em;
  font-family: var(--primaryFont);
  color: var(--textColorLight);
  font-size: var(--headerThree);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1em;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 2;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
  transform: translateX(-50px);
  opacity: 0;
  transition: all 1s;
  transition-delay: 0.5s;
}
#about-us .content-container p.in-view {
  transform: translateX(0);
  opacity: 1;
}
#about-us .content-container img {
  border-radius: 1em;
  box-shadow: 4px 4px 15px 0 rgba(0, 0, 0, 0.5);
  transform: translateX(50px);
  opacity: 0;
  transition: all 1s;
  transition-delay: 0.5s;
}
#about-us .content-container img.in-view {
  transform: translateX(0);
  opacity: 1;
}
#about-us .about-paragraf {
  width: 75%;
  font-family: var(--primaryFont);
  font-size: var(--headerThree);
  color: var(--textColorLight);
  text-align: center;
  line-height: 2em;
}
#about-us .about-paragraf::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: inherit;
  height: 300px;
  z-index: 2;
  transform-origin: right;
  background: var(--secondaryColorPurple);
  transition: all 0.6s;
}
#about-us .about-paragraf.in-view::before {
  transform: scaleX(0);
}
#about-us .about-paragraf::after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%) scale(0);
  width: 500px;
  height: 500px;
  display: inline-block;
  z-index: -1;
  border-radius: 50%;
  border: solid 1px var(--secondaryColorPurple);
  transition: all 1s;
}
#about-us .about-paragraf.in-view::after {
  transform: translate(-50%, -50%) scale(1);
}

#our-workshop {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5% 95%;
  place-items: center;
  row-gap: 2em;
}
#our-workshop .content-title {
  font-family: var(--primaryFont);
  font-size: var(--headerOne);
  color: var(--textColorLight);
}
#our-workshop .content-title h2 {
  transform: translateY(-50px);
  opacity: 0;
  transition: all 1s;
}
#our-workshop .content-title h2.in-view {
  transform: translateY(0);
  opacity: 1;
}
#our-workshop .content-title span:nth-child(1) {
  color: var(--tertierColorBlue);
}
#our-workshop .content-title span:nth-child(2) {
  color: var(--tertierColorYellow);
}
#our-workshop .img-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 25% 37.5% 37.5%;
  grid-template-areas: "landscape landscape" "potrait1 potrait2" "potrait3 potrait4";
  place-items: center;
  row-gap: 0.5em;
}
#our-workshop .img-container .img-content__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  transform: translateY(-50px);
  opacity: 0;
  transition: all 1s;
}
#our-workshop .img-container .img-content__container.in-view {
  transform: translateY(0);
  opacity: 1;
}
#our-workshop .img-container .img-content__container:nth-child(1) {
  grid-area: potrait3;
}
#our-workshop .img-container .img-content__container:nth-child(1) img,
#our-workshop .img-container .img-content__container:nth-child(1) .bg-overlay {
  width: 500px;
  height: 550px;
  position: absolute;
  border-radius: 0.5em;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}
#our-workshop .img-container .img-content__container:nth-child(1) .bg-overlay {
  background: var(--secondaryColorOrange);
  transition: transform 0.6s;
  transition-delay: 0.5s;
  transform-origin: top;
}
#our-workshop .img-container .img-content__container:nth-child(1) .bg-overlay.in-view {
  transform: scaleY(0);
}
#our-workshop .img-container .img-content__container:nth-child(2) {
  grid-area: landscape;
}
#our-workshop .img-container .img-content__container:nth-child(2) img,
#our-workshop .img-container .img-content__container:nth-child(2) .bg-overlay {
  width: 900px;
  height: 450px;
  position: absolute;
  border-radius: 0.5em;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}
#our-workshop .img-container .img-content__container:nth-child(2) .bg-overlay {
  background: var(--secondaryColorPink);
  transition: transform 0.6s;
  transition-delay: 0.5s;
  transform-origin: top;
}
#our-workshop .img-container .img-content__container:nth-child(2) .bg-overlay.in-view {
  transform: scaleY(0);
}
#our-workshop .img-container .img-content__container:nth-child(3) {
  grid-area: potrait1;
}
#our-workshop .img-container .img-content__container:nth-child(3) img,
#our-workshop .img-container .img-content__container:nth-child(3) .bg-overlay {
  width: 500px;
  height: 550px;
  position: absolute;
  border-radius: 0.5em;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}
#our-workshop .img-container .img-content__container:nth-child(3) .bg-overlay {
  background: var(--secondaryColorPurple);
  transition: transform 0.6s;
  transition-delay: 0.5s;
  transform-origin: top;
}
#our-workshop .img-container .img-content__container:nth-child(3) .bg-overlay.in-view {
  transform: scaleY(0);
}
#our-workshop .img-container .img-content__container:nth-child(4) {
  grid-area: potrait2;
}
#our-workshop .img-container .img-content__container:nth-child(4) img,
#our-workshop .img-container .img-content__container:nth-child(4) .bg-overlay {
  width: 500px;
  height: 550px;
  position: absolute;
  border-radius: 0.5em;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}
#our-workshop .img-container .img-content__container:nth-child(4) .bg-overlay {
  background: var(--tertierColorBlue);
  transition: transform 0.6s;
  transition-delay: 0.5s;
  transform-origin: top;
}
#our-workshop .img-container .img-content__container:nth-child(4) .bg-overlay.in-view {
  transform: scaleY(0);
}
#our-workshop .img-container .img-content__container:nth-child(5) {
  grid-area: potrait4;
}
#our-workshop .img-container .img-content__container:nth-child(5) img,
#our-workshop .img-container .img-content__container:nth-child(5) .bg-overlay {
  width: 500px;
  height: 550px;
  position: absolute;
  border-radius: 0.5em;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}
#our-workshop .img-container .img-content__container:nth-child(5) .bg-overlay {
  background: var(--tertierColorYellow);
  transition: transform 0.6s;
  transition-delay: 0.5s;
  transform-origin: top;
}
#our-workshop .img-container .img-content__container:nth-child(5) .bg-overlay.in-view {
  transform: scaleY(0);
}

#our-chef {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 75%;
  place-items: center;
}
#our-chef .content-title {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 3em;
  border-bottom: solid 2px var(--tertierColorYellow);
  gap: 0.5em;
  font-family: var(--primaryFont);
  color: var(--textColorLight);
}
#our-chef .content-title h2 {
  font-size: var(--headerOne);
}
#our-chef .content-title h3 {
  font-size: var(--headerTwo);
}
#our-chef .content-paragraf {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100%;
  padding: 0 1em;
}
#our-chef .content-paragraf .paragraf-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em 3em;
  position: relative;
}
#our-chef .content-paragraf .paragraf-container .paragraf {
  font-family: var(--primaryFont);
  color: var(--textColorLight);
  font-size: var(--headerThree);
  text-indent: 1em;
  text-align: justify;
  opacity: 0;
  transition: all 0.6s;
  transition-delay: 1.3s;
}
#our-chef .content-paragraf .paragraf-container .skeleton-overlay {
  width: 100%;
  height: 100%;
  padding: 3em 3em;
  display: grid;
  place-items: center;
  position: absolute;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0.3em;
  grid-template-areas: "col1 col2 col2" "col3 col3 col3" "col4 col5 col6" "col7 col7 col7" "col8 col8 col9" "col10 col11 col12";
}
#our-chef .content-paragraf .paragraf-container .skeleton-overlay .overlay {
  width: 100%;
  height: 100%;
  transform-origin: right;
  transition: all 0.1s;
}
#our-chef .content-paragraf .paragraf-container .skeleton-overlay .overlay:nth-child(1) {
  background: var(--secondaryColorOrange);
  grid-area: col1;
}
#our-chef .content-paragraf .paragraf-container .skeleton-overlay .overlay:nth-child(2) {
  background: var(--secondaryColorPink);
  grid-area: col2;
  transition-delay: 0.1s;
}
#our-chef .content-paragraf .paragraf-container .skeleton-overlay .overlay:nth-child(3) {
  background: var(--secondaryColorPurple);
  grid-area: col3;
  transition-delay: 0.2s;
}
#our-chef .content-paragraf .paragraf-container .skeleton-overlay .overlay:nth-child(4) {
  background: var(--tertierColorBlue);
  grid-area: col4;
  transition-delay: 0.3s;
}
#our-chef .content-paragraf .paragraf-container .skeleton-overlay .overlay:nth-child(5) {
  background: var(--tertierColorYellow);
  grid-area: col5;
  transition-delay: 0.4s;
}
#our-chef .content-paragraf .paragraf-container .skeleton-overlay .overlay:nth-child(6) {
  background: var(--secondaryColorOrange);
  grid-area: col6;
  transition-delay: 0.5s;
}
#our-chef .content-paragraf .paragraf-container .skeleton-overlay .overlay:nth-child(7) {
  background: var(--secondaryColorPurple);
  grid-area: col7;
  transition-delay: 0.6s;
}
#our-chef .content-paragraf .paragraf-container .skeleton-overlay .overlay:nth-child(8) {
  background: var(--tertierColorBlue);
  grid-area: col8;
  transition-delay: 0.7s;
}
#our-chef .content-paragraf .paragraf-container .skeleton-overlay .overlay:nth-child(9) {
  background: var(--tertierColorYellow);
  grid-area: col9;
  transition-delay: 0.8s;
}
#our-chef .content-paragraf .paragraf-container .skeleton-overlay .overlay:nth-child(10) {
  background: var(--secondaryColorOrange);
  grid-area: col10;
  transition-delay: 0.9s;
}
#our-chef .content-paragraf .paragraf-container .skeleton-overlay .overlay:nth-child(11) {
  background: var(--secondaryColorPink);
  grid-area: col11;
  transition-delay: 1s;
}
#our-chef .content-paragraf .paragraf-container .skeleton-overlay .overlay:nth-child(12) {
  background: var(--secondaryColorPurple);
  grid-area: col12;
  transition-delay: 1.1s;
}
#our-chef .content-paragraf img {
  margin: 0 auto;
  width: 80%;
  border-radius: 0.5em;
  box-shadow: 4px 4px 15px 0 rgba(0, 0, 0, 0.5);
}
#our-chef .content-paragraf .content-reveal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 2em;
}
#our-chef .content-paragraf .content-reveal .inner-content {
  width: auto;
  height: auto;
  overflow: hidden;
}
#our-chef .content-paragraf .content-reveal .inner-content p {
  font-family: var(--primaryFont);
  color: transparent;
  font-size: var(--headerOne);
  font-weight: var(--boldFont);
  letter-spacing: 0.1em;
  -webkit-text-stroke: solid;
  -webkit-text-stroke-color: var(--textColorLight);
  -webkit-text-stroke-width: 1px;
  transform: translateY(100%);
  transition: all 0.6s;
}
#our-chef .content-paragraf .content-reveal .inner-content:nth-child(2) p {
  transition-delay: 0.6s;
}
#our-chef .content-paragraf .content-reveal .inner-content:nth-child(3) p {
  transition-delay: 1.2s;
}
#our-chef .content-paragraf .content-reveal .inner-content:nth-child(4) p {
  transition-delay: 1.8s;
}
#our-chef .content-paragraf.in-view .paragraf {
  opacity: 1;
}
#our-chef .content-paragraf.in-view .overlay {
  transform: scaleX(0);
}
#our-chef .content-paragraf.in-view .content-reveal .inner-content p {
  transform: translateY(0);
}

#develop {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}
#develop .content-container-s {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  border-radius: 1em 1em 0 0;
  background: var(--textColorLight);
  box-shadow: 0 -7px 15px 0 rgba(0, 0, 0, 0.5);
}
#develop .inner-content {
  width: auto;
  height: auto;
}
#develop .inner-content h2 {
  font-family: var(--primaryFont);
  font-size: var(--headerOne);
  color: var(--textColorDark);
}

#review {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 100%;
  place-items: center;
  z-index: 2;
  background: var(--tertierColorYellow);
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}
#review button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
  border-radius: 50%;
  border: solid 1px var(--textColorLight);
  outline: none;
  background: var(--primaryColor);
  color: var(--textColorLight);
  font-weight: 500;
  font-size: 1em;
  transition: all 0.5s;
  cursor: pointer;
}
#review button.disabled {
  background: var(--textColorLight);
  color: var(--textColorDark);
  pointer-events: none;
}
#review button.before-btn:hover {
  background: var(--secondaryColorOrange);
  color: var(--primaryColor);
  transform: scale(0.8);
  border: none;
}
#review button.after-btn:hover {
  background: var(--secondaryColorPink);
  color: var(--primaryColor);
  transform: scale(0.8);
  border: none;
}
#review .slide-container {
  width: 100%;
  max-width: 600px;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 1em;
}
#review .slide-container .slides {
  width: 600px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 100%);
  grid-template-rows: 100%;
  padding: 0;
  place-items: center;
  transition: transform 0.6s;
}
#review .slide-container .slides .card-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 0 1em;
  font-family: var(--primaryFont);
  color: var(--textColorDark);
}
#review .slide-container .slides .card-container p:nth-child(1) {
  font-size: var(--headerThree);
}
#review .slide-container .slides .card-container p:nth-child(2) {
  font-size: var(--paragrafTwo);
  text-align: center;
}
#review .slide-container .slides .card-container .cta-btn__group {
  text-decoration: none;
  color: var(--textColorLight);
  font-size: var(--headerThree);
  font-family: var(--primaryFont);
  width: 5em;
  height: 1.8em;
  border: solid 2px var(--textColorLight);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-radius: 5em;
}
#review .slide-container .slides .card-container .cta-btn__group .btn-inner {
  transform: translateY(0);
  transition: transform 0.4s;
  width: 100%;
  height: 100%;
  padding: 0.2em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#review .slide-container .slides .card-container .cta-btn__group .btn-dark {
  background: var(--secondaryColorPink);
  color: var(--textColorDark);
}
#review .slide-container .slides .card-container .cta-btn__group:hover .btn-inner {
  transform: translateY(-100%);
}
#review .slide-container .slides .card-container:nth-child(1) {
  background: var(--secondaryColorOrange);
}
#review .slide-container .slides .card-container:nth-child(2) {
  background: var(--secondaryColorPink);
}
#review .slide-container .slides .card-container:nth-child(3) {
  background: var(--secondaryColorPurple);
}
#review .slide-container .slides .card-container:nth-child(4) {
  background: var(--tertierColorYellow);
}

footer {
  background: var(--textColorLight);
  width: 100%;
}
footer #footer-btn {
  padding: 2.5em 5em;
}
footer #footer-btn .btn-section {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  border-top: solid 2px var(--textColorDark);
}
footer #footer-btn .btn-section .btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer #footer-btn .btn-section .btn-container .cta-btn__group {
  text-decoration: none;
  color: var(--textColorDark);
  font-size: var(--headerThree);
  font-family: var(--primaryFont);
  width: 5em;
  height: 1.8em;
  border: solid 2px var(--textColorDark);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-radius: 5em;
}
footer #footer-btn .btn-section .btn-container .cta-btn__group .btn-inner {
  transform: translateY(0);
  transition: transform 0.4s;
  width: 100%;
  height: 100%;
  padding: 0.2em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer #footer-btn .btn-section .btn-container .cta-btn__group .btn-dark {
  background: var(--tertierColorYellow);
  color: var(--textColorDark);
}
footer #footer-btn .btn-section .btn-container .cta-btn__group:hover .btn-inner {
  transform: translateY(-100%);
}
footer #copyright {
  padding: 0.5em 5em;
}
footer #copyright .copyright-section {
  width: 100%;
  height: 100%;
  background: var(--textColorDark);
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  padding: 0 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer #copyright .copyright-section p {
  font-family: var(--primaryFont);
  font-size: var(--paragrafTwo);
  color: var(--textColorLight);
}
footer #copyright .copyright-section button {
  background: transparent;
  border: none;
  outline: none;
  font-family: var(--primaryFont);
  font-size: var(--paragrafTwo);
  color: var(--textColorLight);
}/*# sourceMappingURL=style.css.map */